/* #Footer
================================================== */

.backgrounddark {
	background-color: #181818;
}


.backgrounddark1 {
	background-color: #242424;
}

.backgrounddark2 {
	background-color: #1b1b1b;
}

.overhide {
	overflow: hidden;
}

.footer img {
	height: 45px;
	width: auto;
	display: inline-block;
}

.footer a {
	color: #ccc;
	display: block;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.footer a:hover {
	text-decoration: none;
}

.footer .logos-footer img {
	height: 18px;
	width: auto;
	display: inline-block;
	margin-right: 25px;
}

.footerbottom p {
	color: #ccc;
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 0;
}

.socialfooterbottom {
	color: #ccc;
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 0;
	padding: 0 10px;
	border-right: 1px solid rgba(255, 255, 255, .2);
	transition: all 250ms linear;
}

.socialfooterbottom:last-child {
	border-right: 1px solid rgba(255, 255, 255, 0);
}

.socialfooterbottom:hover {
	text-decoration: none;
}


.colmd6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.textcenter {
    text-align: center !important
}

@media (min-width:768px) {
    .textmdleft {
        text-align: left !important
    }
}


.mb2 {
    margin-bottom: .5rem !important
}

.mbmd0 {
    margin-bottom: 0 !important
}
